@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  background-color: black;
  max-width: 100%;
  overflow-x: hidden; }

h1 {
  font-family: 'Bebas Neue', cursive; }

a {
  text-decoration: none; }

.start {
  margin-left: -41px; }

.card {
  cursor: pointer;
  transition: all 1s; }

.card:hover {
  transform: scale(1.1); }

.banner {
  background-image: url("../images/dark-puma.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 700px;
  position: relative; }

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.banner-content h1 {
  font-size: 70px; }

.my-btns {
  background-color: black;
  border: 2px solid orange;
  width: 180px;
  height: 45px;
  margin: 5px;
  color: white; }

.my-btns:hover {
  background-color: orange; }

.nav {
  width: 100%;
  height: 80px;
  background: white; }

.nav li {
  padding: 20px; }

.nav a {
  text-decoration: none;
  color: black; }

.logo-puma {
  background: url(../images/puma-logo2.png) no-repeat;
  background-size: contain;
  background-position: center;
  width: 150px;
  height: 80px;
  margin-top: -15px; }

.card-text {
  font-size: 20px;
  padding: 10px; }

.form-size {
  display: block;
  margin: auto;
  width: 35%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  background-color: black;
  border: 2px solid orange;
  border-radius: 10px; }

.myBanner {
  width: 100%;
  height: 450px; }

.shoe-title {
  font-size: 24px;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase; }

.phonePuma {
  width: 50%;
  margin-left: 200px;
  padding: 50px;
  margin-top: 29px; }

.myImage {
  width: 100%;
  height: 300px; }

.mySocials {
  border-radius: 10px;
  width: 2.5%;
  margin: 5px;
  padding: 5px;
  filter: invert(93%) sepia(7%) saturate(0%) hue-rotate(89deg) brightness(106%) contrast(108%);
  text-decoration: none;
  transition: all 1s; }

.mySocials:hover {
  transform: scale(1.1); }

.paraTwo {
  color: #FCDE9F; }

.modalText {
  padding: 10px; }

.paraModal {
  font-size: 18px; }

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px; }

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px; }

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 2400px) {
  h1 {
    font-size: 3rem; }

  p {
    font-size: 2rem; }

  .app-info {
    margin-top: 95px; }

  .phonePuma {
    margin-left: 439px; }

  .tools h4 {
    margin-top: 150px;
    font-size: 3rem; }

  label {
    font-size: 2rem; }

  .my-btns {
    width: 245px;
    height: 70px;
    font-size: 1.5rem; } }
/* Extra small devices (phones, 820 and down) */
@media only screen and (max-width: 820px) {
  .phonePuma {
    width: 81%;
    margin-left: 129px;
    margin-top: 75px; }

  .start {
    margin-left: 0px; }

  .mySocials {
    width: 4%; } }
@media only screen and (max-width: 600px) {
  .phonePuma {
    width: 81%;
    margin: 27px auto;
    display: block;
    margin-bottom: -61px; }

  .nav li {
    font-size: 36px; }

  .row {
    --bs-gutter-x: 2.5rem; }

  .app-info {
    text-align: center; }

  .mySocials {
    width: 8%; } }
